.Rproj.user
.RData
.Rhistory

# image
*.png
*.jpg
*.jpeg
*.JPG
*.JPEG
*.svg

# text
*.docx
*.txt

# bio
*.fasta
*.fastq

# ref
*.bib

# data
*.Rda
*.csv

# other
*.sh

*.pdf
*.html
*.ascii
*.ps
*.log
*.gz
*.xcf 
*.mp4
*.odt
*.odp