.Rproj.user
.RData
.Rhistory
archive*
cedar*
pres*
photos*
presentation*

# image
*.png
*.jpg
*.jpeg
*.JPG
*.JPEG
*.svg

# text
*.docx
*.docx#
*.txt

# bio
*.fasta
*.fastq
*.fq
*.gb

# ref
*.bib

# data
*.Rda
*.csv
*.xlsx

# other
*.sh

*.pdf
*.html
*.ascii
*.ps
*.log
*.gz
*.xcf 
*.mp4
*.odt
*.odp